<!-- npm i nunjucks -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>nunjucks test</h3>
    <p>{{name}} 님 환영합니다.</p>
    <p>{{count + 10}}</p>
    <p>{{isCheck}}</p>
    <p>{{datas[0]}}, {{datas[1]}}</p>
    <p>{{obj.data1}}</p>
    <!-- 템플릿 파일 내에서 약식의 언어적인 기능이 필요할 때, 변수선언, 조건문, 반복문 -->
    {% set data1 = 'nunjucks test' %}
    <p>data1 : {{data1}}</p>
</body>
</html>